<h2>Reactive: Básicos</h2>
<hr />
<div class="row">
  <div class="col">
    <form [formGroup]="miFormulario" (ngSubmit)="guardar()">
      <div class="mb-3 row">
        <!-- Producto -->
        <label class="col-sm-3 col-form-label">Producto</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Nombre del producto"
            formControlName="nombre"
          />
          <span *ngIf="campoNoValido('nombre')" class="form-text text-danger"
            >Debe de ser de al menos 3 letras</span
          >
        </div>
      </div>
      <!-- Precio -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Precio</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            placeholder="Precio del producto"
            formControlName="precio"
          />
          <span class="form-text text-danger" *ngIf="campoNoValido('precio')"
            >El precio debe de ser mayor o igual a 0</span
          >
        </div>
      </div>
      <!-- Existencias, la controlamos con DIRECTIVAS  -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Existencias</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            placeholder="Existencias del producto"
            formControlName="existencias"
          />
          <span
            class="form-text text-danger"
            *ngIf="campoNoValido('existencias')"
            >El existencias debe de ser mayor o igual a 0</span
          >
        </div>
      </div>
      <div class="row">
        <div class="col">
          <!-- Importante el disabled, si no es válido el formulario no estará habilitado el botón -->
          <button type="submit" class="btn btn-primary float-end">
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col">
    <span>Valid</span>
    <pre>{{ miFormulario.valid }}</pre>
    <span>Pristine</span>
    <pre>{{ miFormulario.pristine }}</pre>
    <span>Touched</span>
    <pre>{{ miFormulario.touched }}</pre>
    <span>Value</span>
    <pre>{{ miFormulario.value | json }}</pre>
    <span>Existencias Errors</span>
    <pre>{{ miFormulario.controls["existencias"]?.errors | json }}</pre>
  </div>
</div>
